@import "../../static/variables";

#services {
  background-color: $section-background-color;

  & > div {
    max-width: 1140px;
    margin: 75px auto;
    display: flex;
    align-items: center;
  }

  .self-confident-client-img {
    width: 500px;
    margin-right: 40px;
    height: 100%;
  }

  h1 {
    margin-bottom: 30px;
    position: relative;
    &::after {
      background-color: $line-background-color;
      top: 50px;
      content: '';
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 50px;
    }
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}