#services {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; }
  #services p {
    text-align: center;
    font-size: 20px; }
  #services ul {
    list-style-type: decimal;
    text-align: left; }
