@import "../../static/variables";

#services {
  background-color: $section-background-color;

  & > div {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .self-confident-client-img {
    width: 500px;
    margin-right: 40px;
    height: 100%;
  }

  h1 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    &::after {
      background-color: $line-background-color;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 50px;
    }
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #services {
    & > div {
      flex-flow: column wrap;
    }
    p { font-size: 16px; }
    .self-confident-client-img {
      width: 335px;
      margin-right: 0;
      height: 100%;
    }
  }
}