@import "../../static/variables";

.banner-wrapper {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  max-height: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;

  &:before {
    content: '';
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-image: url("../../static/media/public-power-c.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .banner {
    width: 100%;
    max-width: 1046px;
    padding: 60px 40px;
    display: block;
    position: relative;
    color: $base-font-color;
    h1 {
      font-size: 72px;
      color: $base-font-color;
    }
    h2 { color: $base-font-color; }
  }

  a.order-project {
    color: $submit-font-color;
    background-color: $submit-back-color;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    display: block;
    position: relative;
  }

  .click-me-down,  .click-me-down:visited {
    outline: none;
    height: 38px;
    box-shadow: none;
    border: 0;
    bottom: 20px;
    position: absolute;
    color: $base-font-color;
    background-color: transparent;
    animation: from-top-to-down 3s infinite;
    svg {
      fill:#ffffff;
      width: 38.417px;
      height: 18.592px;
      float: none;
      clear: both;
      display: block;
      font-size: 30px;
      margin: -14px auto;
    }
    &:hover, &:active {
      background-color: transparent;
      outline: none;
    }
  }
}

@keyframes from-top-to-down {
  0%, 100% { bottom: 26px; }
  40%, 60% { bottom: 10px; }
}

@media (max-width: 768px) {
  .banner-wrapper {

    .banner {
      text-align: center;
      h1 {
        font-size: 30px;
        font-weight: 700;
      }
      h2 { font-size: 16px; }
    }

    a.order-project {
      font-size: 14px;
      padding: 15px 30px;
    }
  }
}