@import "../../static/variables";

#footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: $base-background-color;
  background-color: $secondary-text-color;
  padding: 50px 10px;
  font-size: 20px;
}