@import "../../static/variables";

#what-we-do {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: $section-background-color;
  .description {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 75px;
  }
  .what-we-do-items {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    div.what-we-do-item {
      display: inline-block;
      max-width: 360px;
      width: 100%;
      margin: 5px 20px;
      p {
        margin-top: 8px;
        font-size: 18px;
        line-height: 1.55;
      }
    }
  }
  div.image-container {
    width: 360px;
    height: 270px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  img { height: 100%; }
}

@media (max-width: 768px) {
  #what-we-do {
    .what-we-do-items {
      div.what-we-do-item {
        width: 100%;
        margin: 5px 0;
        div.image-container {
          width: 100%;
          img { width: 100% }
        }
      }
    }
  }
}