@import "../../static/variables";

#contact-us {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: $base-font-color;
  font-size: 20px;
  padding: 100px 0;
  @media (max-width: 768px) { padding: 50px 20px; }
  position: relative;
  &:before {
    content: '';
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background: url("../../static/media/back-c.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .notification {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $notification-background;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.failure .notification-card {
      background-color: $notification-failure-card;
    }

    &.success .notification-card {
      background-color: $notification-success-card;
    }
    .notification-card {
      position: relative;
      max-width: 450px;
      max-height: 250px;
      width: 100%;
      height: 100%;
      padding: 0 70px;
      display: flex;
      align-items: center;
      border-radius: 10px;

      .close-notification {
        position: absolute;
        top: 10px;
        right: 16px;
        transform: rotate(-45deg);
        color: $submit-font-color;
        height: 26px;
        width: 26px;
        padding: 0;
        margin: 0;
        border: 0;
        background: $plus-transparent-background;
        img { filter: invert(1); }
      }

      p { color: $base-font-color }
    }
  }

  header { font-weight: 700; }

  header, p {
    color: $base-font-color;
  }

  p {
    font-size: 24px;
    line-height: 1.5;
    max-width: 600px;
  }

  form {
    display: flex;
    flex-flow: column wrap;
    margin-top: 74px;
    @media (min-width: 769px) {
      width: 500px;
    }
    @media (max-width: 768px) {
      width: 90vw;
      input, button {
        margin: 0 auto;
        display: block;
        width: 100%;
      }
    }
    input {
      color: $submit-font-color;
      border: none;
      font-size: 18px;
      text-align: center;
      border-radius: 50px;
      padding: 20px 30px;
      margin: 5px auto;
      background-color: $trans-base-font-color;
      width: 100%;
      &::placeholder {
        color: $submit-font-color;
      }
      &.required::placeholder {
        color: red;
      }
    }
    button {
      color: $submit-font-color;
      background-color: $submit-back-color;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 700;
      padding: 20px 40px;
      border: none;
      margin-top: 5px;
      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }
}