@import url("https://fonts.googleapis.com/css?family=Raleway");
.app {
  text-align: center;
  right: 0; }
  .app .opened {
    width: 170vw;
    float: right; }

.menu-show {
  position: relative;
  left: -70vw;
  transition: left .25s ease-in-out; }

.banner {
  display: block;
  position: relative;
  height: 100vh;
  max-width: 100vh;
  max-height: 1980px;
  background-image: url(/static/media/mob_img.c7dcfaa7.jpg);
  background-size: cover; }
  .banner p {
    position: absolute;
    bottom: 10px;
    padding: 20px 40px;
    font-size: 35px;
    color: #0d2753;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8)); }

.side-menu {
  position: fixed;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  right: 0;
  width: 70vw;
  height: 100vh;
  background: #fff; }
  .side-menu p, .side-menu a {
    width: 100%;
    padding: 20px 40px;
    color: #ab9332; }
  .side-menu p {
    border-bottom: 2px solid #0d2753; }

section {
  display: flex;
  align-items: center; }
  section p {
    width: 100%;
    text-align: center; }

header:not(.brand-header) {
  display: inline-block;
  clear: both;
  padding-top: 50px;
  color: #ab9332;
  font-size: 28px;
  text-decoration: underline; }

.brand-header {
  background-color: #fff;
  min-height: 90px;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  z-index: 1; }
  .brand-header a {
    text-decoration: none;
    color: #ab9332; }

.brand-headline {
  padding-left: 20px; }

.header-nav a {
  padding-right: 20px; }

.btn-toggle-control {
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
  outline-color: transparent; }

.hamb-button {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .hamb-button span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background: #ab9332;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .hamb-button span:nth-child(1) {
      top: 0px; }
    .hamb-button span:nth-child(2), .hamb-button span:nth-child(3) {
      top: 10px; }
    .hamb-button span:nth-child(4) {
      top: 20px; }

.toggled-menu .hamb-button span:nth-child(1), .toggled-menu .hamb-button span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

.toggled-menu .hamb-button span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggled-menu .hamb-button span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#about {
  padding-top: 30px;
  flex-flow: column wrap; }
  #about p {
    font-size: 18px;
    padding: 10px; }
  #about span.exclamation {
    color: #0d2753;
    font-size: 26px;
    font-weight: bold; }
  #about .about-item {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-size: 26px;
    padding: 20px 10px;
    font-family: Raleway, sans-serif; }
    #about .about-item span {
      color: #0d2753;
      font-size: 50px;
      padding: 10px;
      border: 4px solid #0d2753;
      border-radius: 50%;
      width: 96px;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px; }

#clients {
  display: block; }
  #clients #slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100%; }
    #clients #slides .slide {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      #clients #slides .slide.showing {
        opacity: 1;
        z-index: 2; }
      #clients #slides .slide img {
        filter: grayscale(100%); }

#contact-us {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0d2753;
  padding: 50px 10px;
  font-size: 20px; }

#services {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; }
  #services p {
    text-align: center;
    font-size: 20px; }
  #services ul {
    list-style-type: decimal;
    text-align: left; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.navbar-nav {
  white-space: nowrap; }

@media (min-width: 1200px) {
  .navbar-nav {
    font-size: 22px; } }

@media (min-width: 994px) and (max-width: 1199px) {
  .navbar-nav {
    font-size: 17px; } }

@media (max-width: 994px) {
  .navbar-nav {
    font-size: 15px; } }
