@import "../../static/variables";

@fontface {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Roboto", Arial, sans-serif;
  color: $secondary-font-color;
}

p {
  font-size: 20px;
  line-height: 1.55;
}

.app {
  text-align: center;
  right: 0;
  .opened {
    width: 170vw;
    float: right;
  }
}

.menu-show {
  position: relative;
  left: -70vw;
  transition: left .25s ease-in-out;
}

section:not(.side-menu) {
  display: flex;
  align-items: center;
  padding: 75px 0;
  p {
    width: 100%;
    text-align: center;
  }
}

header:not(.brand-header-wrapper) {
  margin: 0 auto 60px;
  max-width: 768px;
  width: 100%;
  font-size: 48px;
  line-height: 1.23;
  color: $secondary-font-color;
  text-decoration: none;
}

@media (max-width: 768px) {
  .banner p { bottom: 10px; }
}