@import "../../styles/_variables.scss";

.app {
  text-align: center;
  right: 0;
  .opened {
    width: 170vw;
    float: right;
  }
}

.menu-show {
  position: relative;
  left: -70vw;
  transition: left .25s ease-in-out;
}

.side-menu {
  position: fixed;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  right: 0;
  width: 70vw;
  height: 100vh;
  background: $base-background-color;
  p, a {
    width: 100%;
    padding: 20px 40px;
    color: $secondary-text-color;
  }
  p {
    border-bottom: 2px solid $secondary-text-color;
  }
}

section {
  display: flex;
  align-items: center;
  p {
    width: 100%;
    text-align: center;
  }
}

header:not(.brand-header-wrapper) {
  display: inline-block;
  clear: both;
  padding-top: 50px;
  color: $base-color;
  font-size: 28px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .banner p { bottom: 10px; }
}