@import "../../static/variables";

.side-menu {
  right: 0;
  background: $base-background-color;
  display: block;
  p, a {
    width: 100%;
    padding: 14px;
    color: $secondary-text-color;
  }
  p {
    border-bottom: 2px solid $secondary-text-color;
  }
}

@media (max-width: 768px) {
  .side-menu {
    position: fixed;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    right: 0;
    width: 70vw;
    height: 100vh;
    background: $base-background-color;
    p, a {
      width: 100%;
      padding: 20px 40px;
      color: $secondary-text-color;
    }
    p {
      border-bottom: 2px solid $secondary-text-color;
    }
  }
}