@import "../../static/variables";

#partners {
  display: block;

  p {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    max-width: 560px;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto repeat(4, 300px) auto;
    grid-gap: 0;
    padding-top: 50px;

    img { max-width: 180px }

    div[class*='grid-item'] {
      display: flex;
      padding: 20px 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .grid-item-1,
    .grid-item-5 { grid-column-start: 2; }

    .grid-item-6 { grid-column-start: 3; }

    .grid-item-7 { grid-column-start: 4; }

    .grid-item-8 { grid-column-start: 5; }

    .grid-item-5,
    .grid-item-6,
    .grid-item-7,
    .grid-item-8 { grid-row-start: 2; }

    .grid-item-1,
    .grid-item-2,
    .grid-item-3 {
      border-bottom: 1px solid $partnrer-border-color;
      border-right: 1px solid $partnrer-border-color;
    }

    .grid-item-5,
    .grid-item-6,
    .grid-item-7 {
      border-right: 1px solid $partnrer-border-color;
    }

    .grid-item-4 {
      border-bottom: 1px solid $partnrer-border-color;
    }

    .grid-item-6 {
      img { max-width: 160px; }
    }

    .grid-item-2,
    .grid-item-7,
    .grid-item-8 { img { max-width: 210px; } }
  }
}