$base-background-color: rgba(59,56,56,1);
$section-background-color: #eeeeee;
$item-number-background: #222;
$partnrer-border-color: rgba(0,0,0,0.2);
$notification-background: rgba(0,0,0,0.7);
$notification-success-card: rgba(73, 227, 101, 0.95);
$notification-failure-card: rgba(227, 73, 73, 0.95);
$plus-sign-background: #1f5bff;
$plus-transparent-background: transparent;
$line-background-color: #666;
$line-background-color-2: #e8e8e8;
$base-font-color: #fff;
$secondary-font-color: rgba(0,0,0,1);
$base-color: #ab9332;
$secondary-text-color: #0d2753;
$submit-font-color: #080808;
$submit-back-color: #fff01f;
$facebook-back: #3c5a98;
$vk-back: #48729e;
$instagram-back: #5851db;
$telegram-back: #08c;