$base-background-color: rgba(59,56,56,1);
$section-background-color: #eeeeee;
$item-number-background: #222;
$partnrer-border-color: rgba(0,0,0,0.2);
$plus-sign-background: #1f5bff;
$plus-transparent-background: transparent;
$line-background-color: #666;
$line-background-color-2: #e8e8e8;
$base-font-color: #fff;
$secondary-font-color: rgba(0,0,0,1);
$base-color: #ab9332;
$secondary-text-color: #0d2753;