$base-background-color: rgba(59,56,56,1);
$section-background-color: #eeeeee;
$line-background-color: #666;
$base-font-color: #fff;
$secondary-font-color: #000;
$base-color: #ab9332;
$secondary-text-color: #0d2753;